@*@model IEnumerable < VacationEnvyFE5.Data.Models.CountryAlbum>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CountryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CityAlbumCount)
        </th>
        
        <th>
            
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CountryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CityAlbumCount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CountryAlbumId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CountryAlbumId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CountryAlbumId })
        </td>
    </tr>
}

</table>*@
